main, header, section, aside, footer {
    margin: 0;
    padding: 20px;
    border: 1px solid black;
    color: white;
}


main {
    background: #ffffff;
}


.header {
    background: #03a9f4;;
}


.hero {
    background: #d22b1f;
}


.content {
    background: #129a22;

}


.sidebar {
    border: 1px solid #000000;
    background: #673ab7;

}


.footer {
    border: 1px solid #000000;
    background: #616161;
}


.flex-container {
    flex: 1;
    display: flex;
}


.content {
    flex: 1;
}


.sidebar {
    flex: 0 1 300px;
}


.wrapper {
    margin: auto;
    max-width: 75rem;
}


/* Tablet Viewport */
 /* @media screen and (max-width:1023px) {
    .wrapper {
        width: 100%;
    }
} */


/* Mobile Viewport */
@media screen and (max-width:768px) {
    .flex-container {
        flex-direction: column;
    }
}
